<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="100%">
    <mat-card-title fxLayoutAlign="center"
      >Time to start a Workout!</mat-card-title
    >
    <mat-card-content fxLayoutAlign="center"
      ><mat-form-field appearance="fill">
        <mat-select placeholder="Select exercise">
          <mat-option value="cruches"> Cruches </mat-option>
          <mat-option value="a"> a </mat-option>
          <mat-option value="b"> b </mat-option>
        </mat-select>
      </mat-form-field></mat-card-content
    >
    <mat-card-actions fxLayoutAlign="center"
      ><button type="submit" mat-button (click)="onStartTraining()">
        Start
      </button></mat-card-actions
    >
  </mat-card>
</section>
